*.dbc
*.dep
*.o
Defaults
GNUmakefile
aclocal.m4
autom4te.cache/
common/system/os-constants.dylan
common/time/time.inc
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
d2c/compiler/main/file-locations.dylan
d2c/compiler/main/version.dylan
d2c/runtime/dylan/cc-dylan-files.mak
doc/Makefile
doc/*.1
doc/*.4
doc/*.7
force.timestamp
gen-makefile
gwydion-dylan.spec
install-sh
libtool
ltmain.sh
mindy/comp/Makefile
mindy/comp/lexer-tab.c
mindy/comp/mindycomp
mindy/comp/parser-tab.c
mindy/comp/parser-tab.h
mindy/compat/Makefile
mindy/compat/libcompat.a
mindy/etc/Makefile
mindy/etc/generate-depends
mindy/etc/mindyexec
mindy/interp/Makefile
mindy/interp/extern1.def
mindy/interp/extern2.def
mindy/interp/make-init.pl
mindy/interp/mindy
mindy/interp/parser-tab.c
mindy/interp/parser-tab.h
missing
mk-build-tree
stamp-h1
tools/shared-misc/gen-makefile
tools/shared-misc/line-count
tools/shared-misc/make-dylan-app
tools/shared-misc/make-dylan-lib
tools/shared-misc/mk-build-tree
tools/shared-misc/update-libdirs
tools/unix-misc/mk-rcs-links
